<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="globalBody">
    <div class="container">
        <ul class="nav nav-pills nav-justified">

            <li class="nav-item">
                <a class="nav-link"> @Html.ActionLink("Ферма", "Index", "Home")</a>
            </li>


            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Войти", "Login", "Account")</a>
                </li>
                            <li class="nav-item">
                                <button class="nav-link">@Html.ActionLink("Регистрация", "Register", "Account")</button>
                            </li>
            }
            else
            {
                <li class="nav-item">
                    <a>
                        <h1>Привет @User.Identity.Name</h1>
                    </a>
                </li>
                            <li class="nav-item">
                                <a class="nav-link">@Html.ActionLink("Выход", "Logout", "Account")</a>
                            </li>
            }


        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
