@{
    ViewBag.Title = "Ферма";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="globalBody container">
    <div class="header-block">
        <div class="text-left position-absolute img-block">
            <img src="~/Images/Logo/Untitled-1.png"/>
        </div>
        <div class="text-center login-reg">
            @RenderBody()
        </div>
    </div>
    <div class="footer-block">
        <p>&copy; @DateTime.Now.Year All Rights Reserved - Step Ferma</p>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
