@model Ferma.Models.RegisterModel

@{
    ViewBag.Title = "Регистрация";
}

<h2 class="text-center text-info">Регистрация</h2>
    @using (Ajax.BeginForm("Register", new AjaxOptions {UpdateTargetId = "dialogContent" }))
    {
        @Html.AntiForgeryToken()

        <div class="d-flex form-horizontal p-lg-5 justify-content-md-center flex-md-column">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
            <div class="form-group row">
                @Html.LabelFor(model => model.Email,"Email", htmlAttributes: new { @class = "col-md-4" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>    

            <div class="form-group row">
                @Html.LabelFor(model => model.Password,"Пароль", htmlAttributes: new { @class = "col-md-4" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ConfirmPassword,"Повторить пароль", htmlAttributes: new { @class = "col-md-10" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

         
            <div class="form-group row">
                @Html.LabelFor(model => model.Name,"Логин", htmlAttributes: new { @class = "col-md-4" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
         

            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Регистрация" class="btn btn-success openModal" />
                </div>
            </div>
        </div>
    }

